@inject IStringLocalizer<Pages.Exercises> Loc

<div class="border border-2 rounded-3 my-5 @validationStyle">
    <div class="pt-3 px-3">
        <span class="h5">@Loc["TypeInExerciseHeader"]</span>
    </div>
    <hr />
    <div>
        <div class="text-center w-100">
            <div class="fs-3">@Exercise.Question.Expression</div>
            <div class="small">@Exercise.Question.Language</div>
        </div>
        <div class="text-center my-2 w-100">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
            </svg>
        </div>
        <div class="text-center w-100">
            <div class="my-2 px-3">
                <TextInput Class="@validationButtonStyle" Placeholder="@Loc["TypeInYourAnswer"]" MaxLength="50" Value="@_answer" ValueExpression="() => _answer" ValueChanged="(value) => UpdateAnswer(new ExerciseEntry(value, Exercise.PossibleAnswers[0].Language))" Disabled="_disableButtons"/>
            </div>
            <div class="small mb-4">@Exercise.PossibleAnswers[0].Language</div>
            <div class="mb-4 text-danger @correctAnswerStyle">
                @Loc["TheCorrectAnswerIs"]: @Exercise.Answer.Expression
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required int ExerciseNumber { get; set; }

    [Parameter]
    public required Exercise Exercise { get; set; }

    [Parameter]
    public required EventCallback<(ExerciseEntry, int)> OnUserAnswered { get; set; }

    [Parameter]
    public required Action<Action> OnExerciseSheetSolved { get; set; }

    private string _answer = "";

    private bool _correctAnswer => Exercise.UserAnswer?.Equals(Exercise.Answer) ?? false;
    private bool _disableButtons = false;

    private string validationStyle = "";
    private string validationButtonStyle = "text-center fs-3";
    private string correctAnswerStyle = "d-none";

    protected override void OnInitialized()
    {
        OnExerciseSheetSolved(UpdateStateToSolved);
    }

    private void UpdateAnswer(ExerciseEntry answer)
    {
        Exercise.UserAnswer = answer;
        OnUserAnswered.InvokeAsync((answer, ExerciseNumber));
    }

    private void UpdateStateToSolved()
    {
        _disableButtons = true;

        if (_correctAnswer)
        {
            validationStyle = "border-3 border-success";
            validationButtonStyle = "text-center fs-3 border border-3 border-success rounded-3";
        }
        else
        {
            validationStyle = "border-3 border-danger";
            validationButtonStyle = "text-center fs-3 border border-3 border-danger rounded-3";
            correctAnswerStyle = "";
        }
    }
}
