@using System.Text.RegularExpressions;
@using BlazorLanguageLearningApp.Client.Components

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject FolderService FolderService
@inject SetService SetService
@inject IStringLocalizer<NavMenu> Loc

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top border-bottom border-1">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="#">BLAPP</a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarMenu" data-bs-toggle="collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav w-100">
                <li class="nav-item">   
                    <NavLink class="nav-link py-0" href="" Match="NavLinkMatch.All">
                        <div class="d-lg-none py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                            </svg>
                            @Loc["Home"]
                        </div>
                        <div class="d-none d-lg-block py-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                            </svg>
                            @Loc["Home"]
                        </div>
                    </NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link py-0" href="@($"{context.User.Claims.Where(c => c.Type.Equals("username")).Select(c => c.Value).FirstOrDefault()}/sets")">
                                <div class="d-lg-none py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                                    </svg>
                                    @Loc["Sets"]
                                </div>
                                <div class="d-none d-lg-block py-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                                    </svg>
                                    @Loc["Sets"]
                                </div>
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <li class="nav-item ms-lg-auto my-auto">
                    <AccessControl />
                </li>
            </ul>

            @if (Regex.IsMatch(CurrentPage, @$"^{Navigation.BaseUri}\w+/sets/\d+/\d+(/(|flashcards|exercises))?$") && FolderService.CurrentFolder != null && SetService.CurrentSet != null)
            {
                <div class="d-lg-none">
                    <hr class="text-white my-2" />
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <NavLink class="nav-link p-0" href="@($"{_username}/sets/{FolderService.CurrentFolder.Id}/{@SetService.CurrentSet.Id}")" Match="NavLinkMatch.All">
                                <div class="py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    @Loc["ViewSet"]
                                </div>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link p-0" href="@($"{_username}/sets/{FolderService.CurrentFolder.Id}/{@SetService.CurrentSet.Id}/flashcards")">
                                <div class="py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    @Loc["Flashcards"]
                                </div>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link p-0" href="@($"{_username}/sets/{FolderService.CurrentFolder.Id}/{@SetService.CurrentSet.Id}/exercises")">
                                <div class="py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    @Loc["Exercises"]
                                </div>
                            </NavLink>
                        </li>
                    </ul>  
                </div>
            }

            @if (Regex.IsMatch(CurrentPage, @$"^{Navigation.BaseUri}\w+/profile$"))
            {
                 <div class="d-lg-none">
                    <hr class="text-white my-2" />
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <NavLink class="nav-link p-0" href="@($"{_username}/sets")">
                                <div class="py-2" data-bs-target="#navbarMenu" data-bs-toggle="collapse">
                                    @Loc["Sets"]
                                </div>
                            </NavLink>
                        </li>
                    </ul>  
                </div>
            }
        </div>
    </div>
</nav>




@code {
    [Parameter]
    public string CurrentPage { get; set; } = string.Empty;

    private string? _username;

    protected override void OnParametersSet()
    {
        if (Regex.IsMatch(CurrentPage, @$"^{Navigation.BaseUri}\w+/sets/\d+/\d+(/(flashcards$|exercises))?$"))
        {
            _username = CurrentPage.Split('/')[3];
        }
    }

    protected override void OnInitialized()
    {
        FolderService.OnChange.Add(StateHasChanged);
        SetService.OnChange.Add(StateHasChanged);
    }
}
