@using System.ComponentModel.DataAnnotations

@inject UserService UserService
@inject FolderService FolderService
@inject SetService SetService
@inject ExerciseService ExerciseService
@inject NavigationManager Navigation
@inject IStringLocalizer<Pages.Exercises> Loc

<Modal @ref="overwriteExerciseSheetModal" Title="@Loc["OverwriteExerciseSheetModalTitle"]" IsVerticallyCentered="true">
    <BodyTemplate>
        @Loc["OverwriteExerciseSheetModalText"]
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="() => overwriteExerciseSheetModal.HideAsync()">@Loc["No"]</Button>
        <Button Color="ButtonColor.Primary" @onclick="ShowExerciseSheetModal">@Loc["Yes"]</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="exerciseSheetModal" Title="@Loc["CreateNewExerciseSheet"]" IsVerticallyCentered="true">
    <BodyTemplate>
        <div class="row mb-2">
            <div class="col-7 d-flex align-items-center">
                <label for="numberOfExercisesSelect">@Loc["NumberOfExercises"]:</label>
            </div>
            <div class="col-5">
                <InputSelect class="form-select h-100" id="numberOfExercisesSelect" @bind-Value="numberOfExercises">
                    <option selected value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </InputSelect>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-7 d-flex align-items-center">
                <label for="askForWhichSideSelect">@Loc["AskForWhichSide"]</label>
            </div>
            <div class="col-5">
                <InputSelect class="form-select h-100" id="askForWhichSideSelect" @bind-Value="selectedCardSide">
                    <option selected value="Definition">@Loc["Definition"]</option>
                    <option value="Term">@Loc["Term"]</option>
                    <option value="Both">@Loc["Both"]</option>
                </InputSelect>
            </div>
        </div>
        <div class="mt-2">
            <CheckboxInput Label="@Loc["GenerateDuplicates"]" @bind-Value="generateDuplicatesChecked" />
            <span class="text-danger @allowDuplicatesWarningStyle">@Loc["GenerateDuplicatesWarning"]</span>
        </div>
        <h4 class="mt-4">@Loc["ExerciseTypes"]</h4>
        <div class="ps-3">
            <CheckboxInput Label="@Loc["SelectionExercises"]" @bind-Value="selectionExerciseChecked" />
            <CheckboxInput Label="@Loc["TrueOrFalseExercises"]" @bind-Value="trueOrFalseExerciseChecked" />
            <CheckboxInput Label="@Loc["TypeInExercises"]" @bind-Value="typeInExerciseChecked" />
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Class="float-end me-2" @onclick="() => exerciseSheetModal.HideAsync()">@Loc["Close"]</Button>
        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Class="float-end me-2" Disabled="cannotGenerateExerciseSheet" @onclick="GetExerciseSheet">@Loc["Create"]</Button>
    </FooterTemplate>
</Modal>

<Button Type="ButtonType.Button" Color="ButtonColor.Success" Class="w-100 h-100" @onclick="OnShowModalClick">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square me-1" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg>
    @Loc["NewExerciseSheet"]
</Button>

@code {
    [Parameter]
    public bool ExerciseSheetExists { get; set; }

    [Parameter]
    public EventCallback<ExerciseSheet> ExerciseSheetChanged { get; set; }

    private Modal exerciseSheetModal = default!;
    private Modal overwriteExerciseSheetModal = default!;

    private int numberOfExercises = 10;
    private string selectedCardSide = "Definition";
    private bool selectionExerciseChecked = false;
    private bool trueOrFalseExerciseChecked = false;
    private bool typeInExerciseChecked = false;
    private bool generateDuplicatesChecked = true;
    private bool generateTermSide => selectedCardSide == "Term" || selectedCardSide == "Both";
    private bool generateDefinitionSide => selectedCardSide == "Definition" || selectedCardSide == "Both";

    private bool noExerciseTypeSelected => !(selectionExerciseChecked || trueOrFalseExerciseChecked || typeInExerciseChecked);
    private bool notEnoughCardsWithoutDuplicates => (generateDuplicatesChecked && numberOfExercises > SetService.CurrentSet!.Cards.Count);
    private bool cannotGenerateExerciseSheet => noExerciseTypeSelected && notEnoughCardsWithoutDuplicates;
    private string allowDuplicatesWarningStyle => notEnoughCardsWithoutDuplicates ? "d-none" : "";

    private async void GetExerciseSheet()
    {
        var result = await ExerciseService.GenerateExerciseSheet(
            numberOfExercises, 
            selectionExerciseChecked, 
            trueOrFalseExerciseChecked, 
            typeInExerciseChecked, 
            generateDuplicatesChecked,
            generateTermSide,
            generateDefinitionSide);
        if (result is not null)
            await ExerciseSheetChanged.InvokeAsync(result);

        await exerciseSheetModal.HideAsync();
    }

    private async void ShowExerciseSheetModal()
    {
        await overwriteExerciseSheetModal.HideAsync();
        await exerciseSheetModal.ShowAsync();
    }

    private async Task OnShowModalClick()
    {
        numberOfExercises = 10;
        selectedCardSide = "Definition";
        selectionExerciseChecked = false;
        trueOrFalseExerciseChecked = false;
        typeInExerciseChecked = false;
        generateDuplicatesChecked = true;

        if (ExerciseSheetExists)
            await overwriteExerciseSheetModal.ShowAsync();
        else
            await exerciseSheetModal.ShowAsync();
    }
}