@page "/{username}/sets/{folderId:int}/{setId:int}/exercises"

@using BlazorLanguageLearningApp.Client.Components;
@using BlazorLanguageLearningApp.Client.Components.Exercises;

@inject UserService UserService
@inject FolderService FolderService
@inject SetService SetService
@inject ExerciseService ExerciseService
@inject NavigationManager Navigation
@inject IStringLocalizer<Pages.Exercises> Loc

<Modal @ref="overwriteExerciseSheetModal" Title="@Loc["OverwriteExerciseSheetModalTitle"]" IsVerticallyCentered="true">
    <BodyTemplate>
        @Loc["OverwriteExerciseSheetModalText"]
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="() => overwriteExerciseSheetModal.HideAsync()">@Loc["No"]</Button>
        <Button Color="ButtonColor.Primary" @onclick="GetQuickQuestion">@Loc["Yes"]</Button>
    </FooterTemplate>
</Modal>

@if (SetService.CurrentSet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>@Loc["Exercises"] - @SetService.CurrentSet.Name</PageTitle>

    <div class="row d-lg-flex m-0 p-0">
        <SetsSubNav />

        <div class="content d-flex flex-column col-lg-9 col-xxl-10 px-0">
            <BreadcrumbNavigation CurrentPage="@Navigation.Uri" />

            <div class="container-fluid row border-bottom py-3 pe-0">
                <div class="col-6 col-sm-auto pe-1">
                    <ExerciseSheetModal ExerciseSheetExists="@(_exerciseSheet is not null)" ExerciseSheetChanged="OnExerciseSheetChanged" />
                </div>
                <div class="col-6 col-sm-auto">
                    <DeleteExerciseSheetModal ExerciseSheetExists="@(_exerciseSheet is not null)" ExerciseSheetChanged="OnExerciseSheetChanged"/>
                </div>
                <div class="col-12 col-sm-auto pt-2 pt-sm-0 ps-sm-1">
                    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Class="w-100 h-100" @onclick="OnGetQuickQuestionClicked">
                        @Loc["QuickQuestion"]
                    </Button>
                </div>
            </div>
            <div class="exercise-sheet-container container-fluid">
                @if (_exerciseSheet is not null)
                {
                    <div class="container-fluid" style="max-width: 900px;">
                    @for (int i = 0; i < _exerciseSheet.Exercises.Count(); i++)
                    {
                        @if (_exerciseSheet.Exercises[i].Type == ExerciseType.Selection)
                        {
                            <SelectionExerciseComponent Exercise="_exerciseSheet.Exercises[i]" ExerciseNumber="@i" />
                        }
                        @if (_exerciseSheet.Exercises[i].Type == ExerciseType.TrueOrFalse)
                        {
                            <TrueOrFalseExerciseComponent Exercise="_exerciseSheet.Exercises[i]" ExerciseNumber="@i" />
                        }
                        @if (_exerciseSheet.Exercises[i].Type == ExerciseType.TypeIn)
                        {
                            <TypeInExerciseComponent Exercise="_exerciseSheet.Exercises[i]" ExerciseNumber="@i" />
                        }
                    }
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public required string Username { get; set; }

    [Parameter]
    public int FolderId { get; set; }

    [Parameter]
    public int SetId { get; set; }

    private Modal overwriteExerciseSheetModal = default!;

    private ExerciseSheet? _exerciseSheet;

    protected override void OnInitialized()
    {
        SetService.OnChange.Add(StateHasChanged);
    }

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            await UserService.SetCurrentUser(Username);
            await FolderService.SetFolderById(Username, FolderId);
            await SetService.SetCurrentSetById(Username, FolderId, SetId);
        }
        catch (HttpRequestException)
        {
            Navigation.NavigateTo("page-not-found");
        }
    }

    private async void OnGetQuickQuestionClicked()
    {
        if (_exerciseSheet is null)
            GetQuickQuestion();
        else
            await overwriteExerciseSheetModal.ShowAsync();
    }

    private async void GetQuickQuestion()
    {
        var result = await ExerciseService.GenerateExerciseSheet(1, true, true, true, true, true, true);
        if (result is not null)
            _exerciseSheet = result;

        await overwriteExerciseSheetModal.HideAsync();
        StateHasChanged();
    }

    private void OnExerciseSheetChanged(ExerciseSheet newSheet)
    {
        _exerciseSheet = newSheet;
        StateHasChanged();
    }
}
