@page "/{username}/sets/{folderId:int}/{setId:int}/exercises"

@inject FolderService FolderService
@inject SetService SetService
@inject NavigationManager Navigation
@inject IStringLocalizer<Exercises> Loc

@if (CurrentSet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>Exercises</PageTitle>

    <div class="row d-lg-flex m-0 p-0">
        <SetsSubNav FolderId="@FolderId" SetId="@SetId" Username="@Username" />

        <div class="content d-flex flex-column col-lg-9 col-xxl-10">
            <BreadcrumbNavigation CurrentPage="@Navigation.Uri" Username="@Username" />

        </div>
    </div>
}

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public int FolderId { get; set; }

    [Parameter]
    public int SetId { get; set; }

    public BlazorLanguageLearningApp.Shared.Set? CurrentSet { get; set; }

    protected override void OnInitialized()
    {
        SetService.OnChange.Add(StateHasChanged);
    }

    protected override void OnParametersSet()
    {
        CurrentSet = SetService.GetSet(FolderId, SetId);
        if (CurrentSet == null)
            Navigation.NavigateTo("/page-not-found");
    }
}
