@page "/sets"
@page "/sets/{folderId:int}"

@using BlazorLanguageLearningApp.Shared
@using BlazorLanguageLearningApp.Client.Components

@inject FolderService FolderService
@inject SetService SetService
@inject NavigationManager Navigation
@inject IStringLocalizer<Sets> Localization

@if (FolderId != default && CurrentFolder == null)
{
    <NotFoundPage />
}
else
{
    <PageTitle>Sets</PageTitle>

    <div class="row d-lg-flex m-0 p-0">
        <div class="bg-light d-none d-lg-block col-lg-3 col-xxl-2">
            <div>
                <h3 class="text-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
                    </svg>
                    @Localization["Folders"]
                </h3>
                <div class="sidebar overflow-auto pb-1">
                    @foreach (Folder folder in FolderService.GetAllFolders())
                    {
                        <div class="container justify-content-center">
                            <a class="btn btn-primary w-100 mb-1" href="/sets/@folder.Id">@folder.Name</a>
                        </div>
                    }
                </div>
            </div>
            <div class="mt-2 my-2">
                <FolderModal />
            </div>
        </div>

        <div class="content d-flex flex-column col-lg-9 col-xxl-10 px-0">
            @if (FolderId == default)
            {
                <div class="container-fluid">
                    <div class="mt-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="sets">@Localization["Sets"]</a></li>
                            </ol>
                        </nav>
                    </div>
                    <p>No folder open</p>
                </div>
            }
            else
            {
                <div class="container-fluid">
                    <div class="mt-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-2">
                                <li class="breadcrumb-item"><a href="sets">@Localization["Sets"]</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@CurrentFolder!.Name</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-9 col-xxl-10">
                            <div class="d-flex align-items-center">
                                <h1 class="fs-3 mb-0">@CurrentFolder.Name</h1>
                                <span class="text-secondary ms-2 me-auto"><small>@CurrentFolder.Visibility</small></span>
                            </div>
                            <div class="mb-3 mb-sm-0 me-sm-4 pe-2">
                                @CurrentFolder.Description
                            </div>
                        </div>
                        <div class="d-flex align-items-center col-12 col-sm-3 col-xxl-2 ps-sm-0">
                            <div class="d-flex d-sm-block w-100 p-0 m-0">
                                <div class="col-6 col-sm-12 pe-2 pe-sm-0">
                                    <FolderModal Editing="true"/>
                                </div>
                                <div class="col-6 col-sm-12 mt-sm-1 p-0 ps-2 ps-sm-0">
                                    <DeleteFolderModal />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="container-fluid mb-3">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="col-12 col-sm-auto me-auto mb-2 mb-sm-0">
                            <SetModal />
                        </div>
                        <div class="form-floating col-12 col-sm-auto ms-auto p-0">
                            <select class="form-select bg-primary text-white" id="orderBySelect" aria-label="Order sets by">
                                <option selected value="nameIncreasing">@Localization["NameAZ"]</option>
                                <option value="nameDecreasing">@Localization["NameZA"]</option>
                                <option value="scoreIncreasing">@Localization["ScoreIncreasing"]</option>
                                <option value="scoreDecreasing">@Localization["ScoreDecreasing"]</option>
                            </select>
                            <label class="text-white" for="orderBySelect"><small>@Localization["OrderBy"]</small></label>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse w-100">
                        <span class="fs-5 mt-2 mb-0">@String.Format($"{Localization["SetsInFolder"]}", @CurrentFolder.Sets.Count())</span>
                    </div>
                </div>
                <div class="setContainer container-fluid">
                    <div class="d-flex flex-column pb-3">
                        @foreach (BlazorLanguageLearningApp.Shared.Set set in CurrentFolder.Sets)
                        {
                            <a class="setLink me-2 mt-2" href="/sets/@FolderId/@set.Id">
                                <div class="d-flex row border border-black rounded-3 mx-0">
                                    <div class="col-10 col-md-11 my-3 pe-0">
                                        <div class="d-flex justify-content-center px-1">
                                            <span class="h4 mb-0">@set.Name</span>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <small class="text-secondary">@set.TermsLanguage - @set.DefinitionsLanguage</small>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row-reverse col-2 col-md-1 p-0">
                                        <div class="learntPercantage d-flex justify-content-center align-items-center bg-primary rounded-circle border border-primary m-2">
                                            @set.LearntPercantage
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public int FolderId { get; set; }

    private Folder? CurrentFolder { get; set; }

    protected override void OnInitialized()
    {
        FolderService.OnChange.Add(StateHasChanged);
        SetService.OnChange.Add(StateHasChanged);
    }

    protected override void OnParametersSet()
    {
        if (FolderId != default)
        {
            CurrentFolder = FolderService.GetFolder(FolderId);
        }
    }
}
